<h1 style="text-align: center;">Welcome</h1>

 <p><b>welcome</b> : {{name}}</p> <p><b>from </b> {{location}}</p>

 <p> <b>status</b> :{{getStatus()}}</p>>

 <button type="button" class="btn btn-danger"(click)="getMessage()"> Save </button>

 <div class="row">
   <div class="col-md-4 offset-md-4">
     <div class="card">
      <div class="card-header">
        <h4>two way binding</h4>

      </div>
      <div class="card-body"></div>
      <input type="text" class="forms-control" >


    </div>
 </div>
 </div>

 <div class="row">
   <button type="button" class="btn btn-link" (click)="goToRegister()">go to register</button>

 </div>

